.taskDescription {
    box-sizing: 		border-box;
	background-color: 	rgba(255, 255, 255, 0.7);
	border: 			1px solid rgba(73, 204, 249, 1.0);
    border-radius: 		4px;
    color: 				black;
    width: 				100%;
    height: 			5em;
    margin-top: 		16px;
    padding: 			8px 16px;
    resize: 			none;
    overflow:hidden;
}

.submitBtn {
    box-sizing: 		border-box;
    background-color: 	rgba(73, 204, 249, 1.0);
    border: 			none;
    border-radius: 		4px;
    color: 				rgba(255, 255, 255, 0.9);
    padding: 			8px 16px;
    text-decoration: 	none;
    margin: 			4px 2px;
    cursor: 			pointer;
	float: 				right;
}

.clearFormFloats {
    padding: 			0;
    margin: 			0;
	clear: 				both;
}