.PurgeTasksButton {
    box-sizing: 		border-box;
    background-color: 	rgba(73, 204, 249, 1.0);
    border: 			none;
    border-radius: 		4px;
    color: 				rgba(255, 255, 255, 0.9);
	font-size: 			0.7em;
    padding: 			4px;
    text-decoration: 	none;
    margin: 			4px 2px;
    cursor: 			pointer;
	float: 				right;

}