.taskPlate {
    box-sizing: 		border-box;
    background-color: 	none;
    border: 			none;
	margin: 			5px 2px;
	padding: 			2px;	
}

.todoItemCheckbox {
    box-sizing: 		border-box;
    background-color: 	none;
    border: 			none;
    border-radius: 		4px;
	color: 				rgba(73, 204, 249, 0.3);
	text-decoration: 	none;
    cursor: 			pointer;
	padding-right: 		5px;
    float: 				left;	
}

.done {
	color: 				green;
}

.todoItemText {
    box-sizing: 		border-box;
    background-color: 	none;
    border: 			none;
	margin: 			0;
	padding: 			0;
	width: 				90%;		
    float: 				left;
}

.todoItemText.done {
    text-decoration:    line-through;
}

.taskItemSeparator {
	clear: 				both;
}