.ToolBar {
}

.TaskListFilterSelect {
	float : 			left;
    cursor:             pointer;
}

.PurgeTasks {
	float : 			right;
    cursor: 			pointer;
}

.Tasks {
	max-height: 		240px;
	overflow: 			auto;
	clear: 				both;
    padding: 			2px 2px;
}

::-webkit-scrollbar {
    width: 16px;

}

::-webkit-scrollbar-track {
    background-color:	rgba(73, 204, 249, 0.1);
    border: 			2px solid rgba(73, 204, 249, 0.3);		 
}

::-webkit-scrollbar-thumb {
    background-color:	rgba(73, 204, 249, 0.7);
    border: 			1px solid rgba(73, 204, 249, 0.3);
}

.Tasks li {
	list-style-type: 	none;
}


h3 {
	color: 				rgba(73, 204, 249, 0.5);
	margin-bottom: 		4px;
}