* {
	font-family: 		Arial, Helvetica, sans-serif;
 }

.app-wrapper {
 	margin: 			20px auto 20px auto;
 	width: 				250px;
 	min-height: 		500px;
 	border: 			2px solid rgba(73, 204, 249, 1.0);
 	background-color: 	rgba(73, 204, 249, 0.2);
 	padding: 			20px;
}

h1 {
 	margin: 			0;
 	padding: 			0;
	text-align: 		center;
	color: 				rgba(73, 204, 249, 0.3);
}

/*react-confirm-alert ovveride*/

.react-confirm-alert-body > h1 {
  color: 				rgba(73, 204, 249, 1);
}
